<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Song Tracker</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/songs/new">Add</a>
        <a href="/songs">All</a>
        <a href="/songs/learned">Learned</a>
        <a href="/songs/to-learn">To Learn</a>
        <a href="/profiles">View Users</a>
    </nav>

    <h1><%= profile.name %></h1>

    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th scope="row">Name:</th>
                <td><%= profile.name %> </td>
            </tr>
            <tr>
                <th scope="row">Avatar URL:</th>
                <td>
                  <a href="<%= profile.avatar %>">
                    <%= profile.avatar.substring(0, 35) %>
                    <% if (profile.avatar.length > 35) { %>
                    ...
                    <% } %>
                  </a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <% if (userProfile._id.toString() === profile._id.toString()) { %>
        <a href="/profiles/<%= profile._id %>/edit">
            Edit Profile
        </a>
        <a href="/auth/logout">
            Logout
        </a>
    <% } %> -->
</body>
</html>