<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>

  <h1>Latest Activity</h1>
  
  <h2>Newly Added Songs</h2>
  <% songs.forEach(song => { %>
    <h3>
      <a href="/songs/<%= song._id %>"><%= song.title %></a>
      <small><%= song.artist %></small>
    </h3>
  <% }) %>

  <h2>New Comments</h2>
  <div class="container">
    <div class="row">
      <% comments.forEach(comment => { %>
       <div class="col-4">
         <div class="card text-white bg-dark mb-3">
           <div class="card-header">
              <img 
                src="<%= comment.author.avatar %>"
                class="img-fluid rounded-circle ms-2 mt-2 pull-left" 
                alt="<%= comment.author.name %>'s avatar"
              />
            <h4>
              <a href="/profiles/<%= comment.author._id %>">
                 <%= comment.author.name %>'s
              </a>
            </h4> 
            <small>comment on</small>
            <h4>
              <a href="/songs/<%= comment.song?._id %>"><%= comment.song?.title %></a>
            </h4>
           </div>
           <div class="card-body">
             <p class="card-text"><%= comment.content %></p>
           </div>
          
         </div>
       </div>
      <% }) %>
    </div>
  </div>

</main>

<%- include('./partials/footer') %>
