<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>

  <nav>
    <a href="/">Home</a>
    <a href="/songs/new">Add</a>
    <a href="/songs">All</a>
    <a href="/songs/learned">Learned</a>
    <a href="/songs/to-learn">To Learn</a>
  </nav>

  <h1>Latest Activity</h1>
  
  <h2>Newly Added Songs</h2>
  <h2>New Comments</h2>

</main>

<%- include('./partials/footer') %>
