<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Tacker</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/songs/new">Add</a>
        <a href="/songs">All</a>
        <a href="/songs/learned">Learned</a>
        <a href="/songs/to-learn">To Learn</a>
        <a href="/profiles">View Users</a>
    </nav>
    
    <h1><%= song.title %></h1>
    <h2><%= song.artist %></h2>
    <h3><%= `Key: ${song.key}`%> </h3>
    <p><%= song.chords %> </p>
    <a href="/songs/<%= song._id %>/edit">Edit Song</a>
    <br><br>

    <% if (song.comments.length) { %>
        <h1>Comments</h1>
    <% } else { %>
        <h3>No Comments Yet</h3>
    <% } %>

    <form action="/comments/<%= song._id %>" method="post">
        <textarea name="content" rows="3" placeholder="Add a comment..."></textarea>
        <br>
        <button type="submit">Send</button>
    </form>

    <% if (song?.comments.length) { %>
        <% song.comments.forEach(comment => { %>
            <a href="/profiles/<%= comment.author._id %>">
                <%= comment.author.name %>
            </a>
            <p><%= comment.content %></p> 
        <% }) %>
    <% } %>

</body>
</html>